**

!Dockerfile
!.dockerignore
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!index.html
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!public/
!public/**
!src/
!src/**
!docker/
!docker/nginx.conf
